@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");
@import "tailwindcss";



@theme {
    --color-primary: #1e3a8a;
    --color-primary-light: #172554;
    --color-secondary: #f8f9fa;
    --color-accent: #d4a017;
    --color-text-main: #1f2937;
    --color-text-muted: #6b7280;
    --color-surface: #ffffff;
    --color-border-light: #e5e7eb;

    --font-serif: var(--font-merriweather), serif;
    --font-sans: var(--font-inter), sans-serif;

    --shadow-soft: 0 4px 6px -1px rgba(0, 0, 0, 0.05),
        0 2px 4px -1px rgba(0, 0, 0, 0.03);
    --shadow-elegant: 0 10px 15px -3px rgba(0, 0, 0, 0.05),
        0 4px 6px -2px rgba(0, 0, 0, 0.025);
}

@utility no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

@utility hero-pattern {
    background-color: #ffffff;
    background-image: radial-gradient(#1e3a8a 0.5px, transparent 0.5px),
        radial-gradient(#1e3a8a 0.5px, #ffffff 0.5px);
    background-size: 20px 20px;
    background-position:
        0 0,
        10px 10px;
    opacity: 0.03;
}